body{
    background-color: #89ABE3FF;
    text-align: center;
}.login-image{
    width: 180px;
    align-items: center;
}
.company-image{
    width: 40px;
    align-items: center;
}
.card-login{
    width: 280px;
    margin: 40px auto;
    border-radius: 14px;
    background-color: #FCF6F5FF;
    padding: 12px;
}
.input{
    width: 100%;
    border: 1px solid rgb(97, 91, 91);
    padding: 14px;
    border-radius: 8px;
    box-sizing: border-box;
}
.btn{
    border-radius: 8px;
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    margin-top: 14px;
    padding: 14px;
    cursor: pointer;
}
.company-input{
    width: 100%;
    border: 1px solid rgb(97, 91, 91);
    padding: 8px;
    border-radius: 8px;
    box-sizing: border-box;
}
select{
    width: 100%;
    border: 1px solid rgb(97, 91, 91);
    padding: 8px;
    border-radius: 8px;
    box-sizing: border-box;
}
.company-label{
margin: 14px 0 4px 0;
float: left;
}
